name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build backend JAR
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build Backend JAR
        working-directory: fundsparkbackend1
        run: mvn -B clean package

      # Build backend Docker image
      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-backend:latest ./fundsparkbackend1

      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/my-backend:latest

      # Build frontend Docker image
      - name: Build frontend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest ./fundsparkfrontend

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest

